<ion-view>
	<ion-header-bar class="item-input-inset" align-title="left">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class='title'>Permission</h1>
        <button class="button button-clear button-positive" ng-click="controller.add()">New</button>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item ng-controller="PermissionCtrl" ng-repeat="model in controller.collection.models" ng-class="model.$hasChanged() ? 'dirty' : ''">
				<div class='row'>
					<div class='col' style='border:1px solid red;'>
						<button class='button button-clear button-dark' ng-controller="SelectCtrl" ng-click="controller.select('userGrp', $parent.model.userGrp, userGrps)">
					  		{{$parent.model.userGrp}}
					  	</button>
					</div>
					<div class='col' style='border:1px solid blue;'>
						<button class='button button-clear button-dark' ng-controller="SelectCtrl" ng-click="controller.select('action', $parent.model.action, actions)">
					  		{{$parent.model.action}}
					  	</button>
					</div>
					<div class='col' style='border:1px solid green;'>
						<button class='button button-clear button-dark' ng-controller="MultiSelectCtrl" ng-click="controller.select('action', $parent.model.action, actions)">
					  		{{$parent.model.action}}
					  	</button>
					</div>
				</div>
				<ion-option-button class="button button-positive icon-left ion-checkmark-round" on-tap="$event.stopPropagation(); controller.save();">Save</ion-option-button>
				<ion-option-button class="button button-assertive icon-left ion-trash-b" on-tap="$event.stopPropagation(); $parent.controller.remove(model);">Delete</ion-option-button>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="model.state.page < model.state.total_page" on-infinite="controller.loadMore()">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>